/target/
*.pdb
*.rs.bk

/bindings/

.DS_Store
*.swp
*.swo
*~

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/