/target/
**/*.rs.bk
*.pdb
/bindings/
.DS_Store
.AppleDouble
.LSOverride
.Trashes
._*
*.swp
*.swo
*~

**/DerivedData/
**/build/

*.ipa
*.dSYM.zip
*.dSYM

**/xcuserdata/
**/*.xcuserstate
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.xccheckout

*.xcworkspace/*
!*.xcworkspace/contents.xcworkspacedata
!*.xcworkspace/xcshareddata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

Pods/
Podfile.lock

.build/
.swiftpm/

apps/macos/Ferrix/**/*.dylib
